# Database Configuration
export POSTGRES_USER=user
export POSTGRES_PASSWORD=password
export POSTGRES_DB=game_db
export DB_HOST=db
export DB_PORT=5432

# Backend API Configuration
export BACKEND_PORT=8080
export GIN_MODE=debug

# Auth Server Configuration
export AUTH_SERVER_PORT=1911
export AUTH_GAME_PORT=1912
export AUTH_IP=auth

# Gateway Server Configuration
export GATEWAY_PORT=1910
export AUTH_PORT=1911

# Game Server Configuration
export GAME_SERVER_PORT=1909
